#collection {
  position: relative;
  flex-flow: column;
  height: 700vh;
  max-height: auto;
  overflow: auto;
}

#collection iframe {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
  page-break-after: always;
}

#log {
  display: none;
}
