#cover,
#cover[hidden] {
    display: grid;
    height: 100vh;
    max-height: 100vh;
}

article#org section {
    padding: 0;
}

#org section div {
    padding: 2rem;
}

#org section nav {
    padding: 0 2rem;
}

#org ul.list {
    height: 300vh;
    overflow: hidden;
}

#org section nav {
    page-break-after: always;
}

#org ul.list {
    gap: 0.5rem;
    justify-content: space-between;
    padding: 0 0.5rem;
}

#org ul.list li,
#org ul.list li[hidden] {
    display: inline-flex;
    padding: 0.5rem;
    page-break-inside: avoid;
}

#feel {
    margin-top: 50vh;
}

#feel label {
    font-size: 333%;
}

#flash li,
#speed,
#print {
    display: none;
}