html {
    font-size: 2.5vw;
}

article,
article[hidden] {
    display: block;
}

article,
article section,
article aside {
    position: relative;
    height: auto;
}

article section {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

article:not(#org) section,
#org section div {
    padding: 2rem;
}

#org section nav {
    padding: 0 2rem;
}

#cover {
    height: 100vh;
    max-height: 100vh;
}

article section,
article aside {
    min-height: 100vh;
    max-height: auto;
}

#org ul.list {
    height: 400vh;
    overflow: hidden;
}

article section,
article aside,
#org section nav {
    page-break-after: always;
}

#org ul.list {
    gap: 0.5rem;
    justify-content: space-between;
    padding: 0 0.5rem;
}

#org ul.list li,
#org ul.list li[hidden] {
    display: inline-flex;
    padding: 0.5rem;
    page-break-inside: avoid;
}

article aside {
    flex-flow: column;
    padding: 0;
}

article aside img {
    margin: 5vh;
    width: auto;
    height: 40vh;
}

#feel {
    margin-top: 50vh;
}

#feel label {
    font-size: 333%;
}

#flash li,
#speed,
#org aside,
#print,
#btn {
    display: none;
}