[hidden],
#btn[hidden] {
    display: none;
}

#btn {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    flex-flow: wrap;
    justify-content: space-between;
    position: fixed;
    left: 0.5rem;
    bottom: 1rem;
    z-index: 100;
}

#btn button {
    appearance: none;
    border: solid 1px;
    border-radius: 50%;
    background: #fff9;
    color: #000;
    display: grid;
    place-items: center;
    padding: 0;
    margin: 0;
    font-size: 200%;
    width: 3.21rem;
    height: 3.21rem;
    outline: none;
}

@media print {
    #btn {
        display: none;
    }
}