.list {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  font-size: 0.75rem;
  padding: 0;
  list-style: none;
  list-style-position: inside;
}

.list * {
  box-sizing: border-box;
  display: inline-block;
  padding: 0.25rem;
}

.list .hidden {
  display: none;
}

.list .must {
  font-weight: 900;
}

.list .should {
  font-weight: 700;
}

.list .can {
  font-weight: 500;
}

.list .may {
  font-weight: 300;
}

.list .could {
  font-weight: 200;
}

.list .cant {
  font-weight: 100;
}

.list .positive {
  font-size: 250%;
}

.list .negative {
  font-size: 50%;
}

.list .both {
  font-size: 200%;
}

.list .neither {
  font-size: 100%;
}

.list .unknown {
  font-size: 150%;
}

.list a {
  border: solid 1px;
  border-radius: 3rem;
  color: #000;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0;
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  .list {
    font-size: 2.25vw;
  }

  .list * {
    padding: 1vw;
  }

  .list a {
    border: solid 0.2vw;
    border-radius: 5vw;
    padding: 1.25vw 2.5vw;
  }
}
