#submit fieldset {
  border: 0.1rem solid #000;
  display: block;
  font-size: 1rem;
  text-align: center;
  margin: 1rem auto;
  max-width: 450px;
}

#submit legend,
#submit legend small {
  display: block;
  padding: 0.5rem 1rem;
  position: relative;
}

#submit legend b {
  color: #fff;
  display: block;
  font-size: 200%;
  text-shadow: 0.1rem 0.1rem #000;
  transform: scale(1, 1.5);
}

#submit legend b {
  padding: 0 0 1rem;
}

#submit legend i {
  font-family: 'Times New Roman', serif;
  font-size: 125%;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#submit input[type="radio"] {
  display: none;
}

#submit input[type="radio"]+label {
  border-radius: 0.5rem;
  color: #000;
  cursor: pointer;
  display: inline-block;
  margin: 0.5rem;
  transition: all 1s;
}

#submit input[type="radio"]:checked+label {
  background-color: #eee;
  color: #fff;
  text-shadow: 0.1rem 0.1rem #fff;
}

#weight label,
#size label {
  border: 0.1rem solid #eee;
}

#weight label {
  padding: 0.25rem 0.5rem;
  font-size: 150%;
}

#size label {
  padding: 0.25rem 1rem;
  font-size: 200%;
}

#feel label {
  padding: 0 0.5rem;
  font-size: 300%;
}

@media screen and (max-width: 550px) {
  #submit fieldset {
    font-size: 3.33vw;
    border: 0.5vw solid;
    margin: 2.5vw auto;
  }

  #submit legend,
  #submit legend small {
    padding: 1.25vw 2.5vw;
  }

  #submit legend b {
    text-shadow: 0.25vw 0.25vw #000;
  }

  #submit legend b {
    padding: 2.5vw;
  }

  #submit legend i {
    top: 2.5vw;
    right: 2.5vw;
  }

  #submit input[type="radio"]+label {
    border-radius: 1.25vw;
    margin: 1.25vw;
  }

  #submit input[type="radio"]:checked+label {
    text-shadow: 0.5vw 0.5vw #fff;
  }

  #weight label,
  #size label {
    border: 0.5vw solid #eee;
  }

  #weight label {
    padding: 0.75vw 1.25vw;
  }

  #size label {
    padding: 0.5vw 2.5vw;
  }

  #feel label {
    padding: 0 1.25vw;
  }
}
